/*Configurações Gerais*/
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #E0CFE6;
}

iframe {
    width: 100%;
    margin: 0;
    padding: 0;
}

#footer {
    margin-bottom: -5px;
}

/*Título e subtítulo*/
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #7657b2;
    text-align: center;
    margin: 20px;
}

h3 {
    color: black;
    text-align: center;
}

/*Main*/
main {
    display: flex;
    justify-content: center;
}

/*Sections*/
.imag1 {
    width: 150px;
    margin: 30px;
    height: 150px;
}

section {
    display: flex;
    background-color: #7657b2;
    align-items: center;
    margin: 20px;
    -webkit-box-shadow: 10px 10px 36px -13px rgba(82, 65, 109, 1);
    -moz-box-shadow: 10px 10px 36px -13px rgba(82, 65, 109, 1);
    box-shadow: 10px 10px 36px -13px rgba(82, 65, 109, 1);
    border-radius: 10px;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
    text-align: center;
    margin: 20px;
    width: 100%;
    font-size: 40px;
}

section:hover {
    transform: scale3d(1.1, 1.1, 1)
}

a {
    text-decoration: none;
}
.sec01{
    text-decoration: none;
}
#vest01{
text-decoration: none;
}
#fut01{
    text-decoration: none;
}
@media screen and (max-device-width: 768px) and (min-device-height: 400px) {
    body {
        font-size: 20px;
    }

    iframe {
        flex-direction: column;
    }

    main {
        /* display: flex; */
        flex-direction: column;
    }

    p {
        margin: 0;
        font-size: 25px;
    }


    img {
        width: 40%;
        height: 40%;
        margin: 5px;
    }

    section {
        margin: 0;
        padding: 0;
        margin-bottom: 5%;
        width: 100%;
        height: auto;
    }

    main {
        margin: 20px;
    }

    /* iframe do footer */
    #footer {
        height: 100%;
        width: 100%;
    }
    #vest01{
        width: 50%;
        margin: 5%;
        height: auto;
        margin-left: -20px ;
}
}


