/*Configurações Gerais*/
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    padding: 0%;

}

a {
    text-decoration: none;
}

iframe {
    width: 100%;
}

/*Article 1*/
#noticiaprincipal {
    align-items: center;
}

/*Article 1 Texto*/
h1 {
    text-align: center;
    color: #7657b2;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* margin: 5px; */
}

/*Article 1 Imagem*/
#fotoney {
    width: 80%;
    border-radius: 10px;
    border: 5px outset #ffffff;
}

#fotoprincipal {
    background-color: #7657b2;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 36px -13px rgba(82, 65, 109, 1);
    -moz-box-shadow: 10px 10px 36px -13px rgba(82, 65, 109, 1);
    box-shadow: 10px 10px 36px -13px rgba(82, 65, 109, 1);
    width: 30%;

}

#foto {
    text-align: center;
}

/*Article 1 Texto Resumo*/
h2 {
    color: #7657b2;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#resumotema {
    margin: 20px;
    width: 50%;
}

p {
    line-height: 35px;
}

/*Article 2*/
article {
    display: flex;
    margin: 20px;
}

#ultimasnoticias {
    display: flex;
    flex-direction: column;
    background-color: #7657b2;
    margin: 20px;
    border-radius: 10px;
}

.h1ultimasnoticias {
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    margin-left: 300px;
    margin-right: 300px;
}

#h1texto {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 5px;
}

.sectionultimasnoticias {
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: white;
    margin: 20px;
}

img {
    border-radius: 10px;
    margin: 5px;
}

#h2eltimasnoticias {
    color: #7657b2;
    margin-left: 15px;
}

#ultimasnoticiasfotos2 {
    width: 10%;
}

a {
    text-decoration: none;
}

iframe {
    width: 100%;
}

/*Article 1*/
#noticiaprincipal {
    align-items: center;
    flex-direction: column;
}

/*Article 1 Texto*/
h1 {
    text-align: center;
    color: #7657b2;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 5px;

}

/*Article 1 Imagem*/
#fotoney {
    width: 80%;
    border-radius: 10px;
    border: 5px outset #ffffff;
}

#fotoprincipal {
    background-color: #7657b2;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 36px -13px rgba(82, 65, 109, 1);
    -moz-box-shadow: 10px 10px 36px -13px rgba(82, 65, 109, 1);
    box-shadow: 10px 10px 36px -13px rgba(82, 65, 109, 1);
    width: 30%;

}

#foto {
    text-align: center;
}

/*Article 1 Texto Resumo*/
h2 {
    color: #7657b2;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#resumotema {
    margin: 20px;
    width: 100%;
    flex-direction: column;
    text-align: center;

}

p {
    line-height: 35px;

}

/*Article 2*/
article {
    display: flex;
    margin: 20px;
}

#ultimasnoticias {
    display: flex;
    flex-direction: column;
    background-color: #7657b2;
    margin: 20px;
    border-radius: 10px;
}

.h1ultimasnoticias {
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    margin-left: 300px;
    margin-right: 300px;
}

#h1texto {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 5px;
}

.sectionultimasnoticias {
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: white;
    margin: 20px;
}

img {
    border-radius: 10px;
    margin: 5px;
}

#h2eltimasnoticias {
    color: #7657b2;
    margin-left: 15px;
}

#ultimasnoticiasfotos {
    width: 10%;
}

#footer {
    width: 100%;
    margin-bottom: -5px;
}

#header{
    width: 100%;
    margin: 0;
}

@media screen and (max-width: 768px) and ( min-device-height: 400px) {
   /*  body {
        font-size: 30px;
    }
    .sectionultimasnoticias{
        width: 90%;
    }
    #fotoprincipal {
        border-radius: 10px;
        width: 50%;

    }

    #noticiaprincipal {
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 5%;

    }

    #resumotema {
        text-align: center;
        width: 100%;
        flex-direction: column;
    }


    #fotoprincipal {
      
        width: 90%;
        
    }

    #fut {

        text-align: center;
        margin-left: 7%;
        margin-top: 30px;
    }

    #ultimasnoticias {
        font-size: 25px;
   

    }

    #ultimasnoticiasfotos{
        width:30%;
        height: 30%;
        margin: 0;
    }


    #ultimasnoticiasfotos2 {
        width: 100%;
    }

    #ultimasnoticiasfotos3{
        width:50%;
    }

    p {

        text-align: justify;
        margin-left: 10%;
        margin-right: 10%;
    } */
    h2{
        text-align: center;
    }
    #ultimasnoticias {
        font-size: 25px;
        margin-left: 15%;
    }
    #ultimasnoticias2 {
        font-size: 25px;
    }
    #ultimasnoticias3 {
        font-size: 25px;
    }
    #h2eltimasnoticias {
        font-size: 15px;

    }

    #fotoprincipal {
        width: 90%;
    }

    #ultimasnoticiasfotos2 {
        width: 50%;
        height: 40%;
        margin: 0;
    }

    #noticiaprincipal {
        display: flex;
        flex-direction: column;
        margin: 5%;
    }

    #titu {
        font-size: 40px;
        margin-bottom: 2%;
    }

    #resumotema {
        width: 100%;
        font-size: 30px;
        margin: 5%;
        text-align: justify;
    }

    p {
        font-size: 20px;
        text-align: justify;
        margin-left: 10%;
        margin-right: 10%;
    }

    #ifr {
        height: 500px;
    }

    #footer {
        height: 300px;
    }

}