/*Configurações Gerais*/
body {
    font-family: Arial, Helvetica, sans-serif;
}
/*Configurações Gerais*/
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    padding: 0%;

}
/* estilização da parte de linkagem */
a {
    text-decoration: none;
}
/* estilização do iframe*/
iframe {
    width: 100%;
}


/*Article 1*/
#noticiaprincipal {
    align-items: center;
}

/*Article 1 Texto*/
h1 {
    text-align: center;
    color: #7657b2;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 5px;
}

/*Article 1 Imagem*/
#fotoenem {
    width: 80%;
    border-radius: 10px;
    border: 5px outset #ffffff;
}
/* estilização da foto principal*/
#fotoprincipal {
    background-color: #7657b2;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 36px -13px rgba(82, 65, 109, 1);
    -moz-box-shadow: 10px 10px 36px -13px rgba(82, 65, 109, 1);
    box-shadow: 10px 10px 36px -13px rgba(82, 65, 109, 1);
    width: 30%;

}
/* estilização das fotos*/
#foto {
    text-align: center;
}

/*Article 1 Texto Resumo*/
h2 {
    color: #7657b2;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* estilização da section do sobre*/
#resumotema {
    margin: 20px;
    width: 50%;
}
/* estilização dos textos*/
p {
    line-height: 35px;
}

/*Article 2*/
article {
    display: flex;
    margin: 20px;
}
/* estilização das últimas notícias*/
#ultimasnoticias {
    display: flex;
    flex-direction: column;
    background-color: #7657b2;
    margin: 20px;
    border-radius: 10px;
}
/* estilização dos títulos das últimas notícias*/

.h1ultimasnoticias {
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    margin-left: 300px;
    margin-right: 300px;
}
/* estilização dos textos das últimas notícias*/

#h1texto {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 5px;
}
/* estilização das últimas notícias*/

.sectionultimasnoticias {
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: white;
    margin: 20px;

}
#footer{
    width: 100%;
    bottom: 0;
    margin-top: 30%;
    margin-bottom: -5px;
}
/* estilização das linkagem das imagens*/

img {
    border-radius: 10px;
    margin: 5px;
}
/* estilização dos subtítulos das últimas notícias*/
#h2eltimasnoticias {
    color: #7657b2;
    margin-left: 15px;
}
/* estilização das fotos das últimas notícias*/
#ultimasnoticiasfotos {
    width: 10%;

}
/*Responsividade*/
@media screen and (max-device-width: 768px) and (min-device-height: 400px) {
    /* article das noticias */
    #ultimasnoticias {
        font-size: 25px;
    }
    /* titulos das noticias */
    #h2eltimasnoticias {
        font-size: 25px;

    }
    .sectionultimasnoticias {
        flex-direction: column;
        border-radius: 10px;
        background-color: white;
    
    }
   /* foto do inicio*/
    #fotoprincipal {
        width: 90%;
    }
    /* foto das noticias */
    #ultimasnoticiasfotos {
        width: 85%;

        margin: 0;
    }
    /* a matéria principal */
    #noticiaprincipal {
        display: flex;
        flex-direction: column;
        margin: 5%;
    }
    /* titulo das noticias */
    #titu {
        font-size: 40px;
        margin-bottom: 2%;
    }
    /* article da foto mais noticia */
    #resumotema {
        width: 100%;
        font-size: 30px;
        margin: 5%;
        text-align: justify;
    }
    /* paragrafos*/
    p {
        font-size: 20px;
        text-align: justify;
    }
    h1{
        font-size: 30px;
    }
    h2{
        font-size: 30px;
    }

}