/*Configurações Gerais*/
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
iframe {
    width: 100%;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
}
h1 {
    margin: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p {
    line-height: 30px;
text-align: justify;
width: 95%;
margin: 5px;
font-size: 17px;
}

/*Article Principal*/
#articleprincipal {
    display: flex;
    align-items: center;
}

/*Article Principal Titulos*/
h2,
h3 {
    color: #7657b2;
    text-align: center;
}

#escritatitulo {
    font-size: 200%;
    color: #7657b2;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*Article Principal Imagem*/
#fotoprincipal {
    width: 90%;
    margin-top: 5%;
    border: 5px outset #7657b2;
}

#imgprincipal {
    width: 50%;
}

.div2 {
    width: 50%;
}

.div3{
    width: 50%;
    margin-bottom: 10px;
    
}
/*Noticia Principal*/
#textoprincipal {
    background-color: white;
    width: 70%;
    display: flex;
    flex-direction: column;
}
#noticia {
    line-height: 40px;
    text-align: justify;
    margin: 10px;
    width: 95%;
}

/*Navbar Lateral*/
#container {
    width: 30%;
}
aside {
    background-color: #E0CFE6;
    width: 22%;
    /* right: 0; */
    top: 50%;
    margin-top: 20%;
    position: absolute;
}
.navbarlateral {
    display: flex;
    background-color: white;
    margin: 10px;
    border-radius: 10px;
}
.fotonoticias {
    border-radius: 10px;
    width: 100%;
}
.fotonoticias2{
    border-radius: 10px;
    width: 100%;
  
}
#navbarlateral3 {
    display: flex;
    background-color: white;
    margin: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}a {
    text-decoration: none;
    color: #7657b2;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*Comentários*/
#divcomentarios {
    width: 100%;
}
.sectioncomentarios {
    background-color: #E0CFE6;
display: flex;
    margin: 10px;
   
}
.imgdepoimentos {
    width: 70px;
    margin: 10px;
    border: 5px outset #7657b2;
    height: 70px;
}
.nomedepoimentos {
    color: #7657b2;
    text-align: left; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
margin: 0;
}
#estrelaavaliacao {
    width: 2%;
    border: none;
    margin: 5px;
}
#nomeeinsta {
    width: 100%;
}
#divcomentarios {
    align-items: center;
}
#div_bottom {
    margin-bottom: 10px;
}

#sectiontext3 {
    margin-top: 10px;
}

#footer {
    width: 100%;
    margin-bottom: -5px;
}

#header{
    width: 100%;
    margin: 0;
}

@media screen and (max-device-width: 768px) and (min-device-height: 400px){
    body {
        font-size: 15px;
    }

    #articleprincipal{
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0%;
   } 

   #div1{
    width: 100%;
    
   }
   #escritatitulo{
    font-size: 30px;
   }

   h2{
    font-size: 20px;
   }
   h3{
    font-size: 20px;
   }

   main{
    flex-direction: column;
    margin: 0%;
   }

   #container{
    width: 100%;
    margin: 0%;
   }

   #noticia{ 
    margin-top: 5%;
    font-size: 15px;
    flex-direction: column;
   }

   #sectiontext3{
    margin-top: 5%;
    flex-direction: column;
    font-size: 15px;

   }

   
   #divcomentarios{
    margin-top: 15%;
    margin-bottom: 5%;
   }

  #textoprincipal{
    width: 100%;
  }

  aside{
     /* width: 80%;
    padding: 5%;
    height: 10%;
    margin-left: 5%;  */
        display: none;
      
       
  }

  .navbarlateral{
    width: 96%;
    
  }
  .navbarlateral3{
    width: 30%;
  }

  .fotonoticias2{
    border-radius: 10px;
    width: 98%;
    height: 100%;
  }

  div{
    width: 100%;
  }

  h1{
    text-align: center;
  }

  h6{
    font-size: 90%;
  }

  #estrelaavaliacao{
    width: 7%;
    border: none;
    margin: 5px;
 }

 #fotoprincipal{
    margin: 0;

 }
 .sectioncomentarios {
    background-color: #E0CFE6;
    flex-direction: column;
    border-radius: 15px;
}

}