body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

iframe {
    width: 100%;
    margin: 0;
    padding: 0;
}

#footer {
    margin-bottom: -5px;
}

main {
    display: flex;
}

h1 {
    margin: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    line-height: 30px;
    text-align: justify;
    width: 95%;
    margin: 5px;
}

/*Article Principal*/
#articleprincipal {
    display: flex;
    align-items: center;
}

/*Article Principal Titulos*/
h2 {
    margin: 2%;
    color: #7657b2;
    font-size: 15px;
}

h3 {
    color: #7657b2;
    margin: 2%;
    font-size: 15px;
}

#escritatitulo {
    font-size: 35px;
    margin-bottom: 5%;
    margin-left: 2%;
    color: #7657b2;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*Article Principal Imagem*/
#fotoprincipal {
    width: 90%;
    margin: 20px;
    border: 5px outset #7657b2;
}

#imgprincipal {
    width: 50%;
}

div {
    width: 50%;
}

/*Noticia Principal*/
#textoprincipal {
    background-color: white;
    width: 70%;
    display: flex;
    flex-direction: column;
}

#noticia {
    line-height: 40px;
    text-align: justify;
    margin: 10px;
    width: 95%;
}

/*Navbar Lateral*/
#container {
    width: 30%;
}

aside {
    background-color: #E0CFE6;
    width: 30%;
    right: 0;
    top: 95%;
    position: absolute;
}

.navbarlateral {
    display: flex;
    background-color: white;
    margin: 10px;
    border-radius: 10px;
}

.fotonoticias {
    border-radius: 10px;
    width: 100%;
}

#navbarlateral3 {
    display: flex;
    background-color: white;
    margin: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: #7657b2;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*Comentários*/
#divcomentarios {
    width: 100%;
}

.sectioncomentarios {
    background-color: #E0CFE6;
    display: flex;
    margin: 10px;
}

.imgdepoimentos {
    width: 70px;
    margin: 10px;
    border: 5px outset #7657b2;
    height: 70px;
}

.nomedepoimentos {
    color: #7657b2;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
}

#estrelaavaliacao {
    width: 2%;
    border: none;
    margin: 5px;
}

#nomeeinsta {
    width: 100%;
}

#divcomentarios {
    align-items: center;
}

#div_bottom {
    margin-bottom: 10px;
}

@media screen and (max-device-width: 768px) and (min-device-height: 400px) {
    body {
        font-size: 25px;
    }

    #escritatitulo {
        font-size: 40px;
        text-align: justify;
    }

    .sectioncomentarios {
        background-color: #E0CFE6;
        flex-direction: column;
    }

    main {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #articleprincipal {
        display: flex;
        flex-direction: column;

    }

    #textoprincipal {
        margin: 5%;
    }

    #fotoprincipal {

        margin: auto;

    }

    #divcomentarios {
        margin: 1%;
        margin-right: 4%;
    }

    #noticia {
        margin: auto;
        width: 95%;
    }


    #container {
        display: flex;
        flex-direction: column;
        width: 100%;

    }

    #textoprincipal {
        width: 95%;
        margin-right: 2%;
        margin-left: 2%;
    }

    #divcomentarios {
        margin-top: 5%;
    }

    aside {
        position: relative;
        width: 90%;
        margin: auto;
        margin-top: 4%;
    }

    .fotonoticias {
        width: 100%;
        height: 65%;
        margin-top: 10%;
    }

    #estrelaavaliacao {
        width: 10%;
    }

    #div_bottom {
        margin: 0;
        padding: 0;
    }

    #ifr {
        height: 500px;
    }

    #footer {
        height: 300px;
    }
}