/*Configurações Gerais*/
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

iframe {
    width: 100%;
    margin: 0;
    padding: 0;
}

#footer {
    margin-bottom: -5px;
}

main {
    display: flex;
}

h1 {
    font-size: 30px;
    margin: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

p {
    line-height: 30px;
    text-align: justify;
    width: 80%;
    margin: 5px;
}

/*Article Principal*/
#articleprincipal {
    display: flex;
    align-items: center;
}

/*Article Principal Titulos*/

h3 {
    color: #7657b2;
    text-align: center;
}

#escritatitulo {
    font-size: 35px;
    color: #7657b2;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin:auto;
}

/*Article Principal Imagem*/
#fotoprincipal {
    width: 90%;
    margin: 20px;
    border: 5px outset #7657b2;
}

#imgprincipal {
    width: 50%;
}

.div5 {
    width: 50%;
}

/*Noticia Principal*/
#textoprincipal {
    background-color: white;
    width: 70%;
    display: flex;
    flex-direction: column;
}

#noticia {
    line-height: 40px;
    text-align: justify;
    margin: 10px;
    width: 95%;
}

/*Navbar Lateral*/
#container {
    width: 30%;
}

aside {
    background-color: #E0CFE6;
    height: 75%;
}

.navbarlateral {
    display: flex;
    background-color: white;
    margin: 10px;
    border-radius: 10px;
    width: 95%;
    font-size: 30px;
    height: 28%;
    text-align: center;
}

.fotonoticias {
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.navbarlateral3 {
    display: flex;
    background-color: white;
    margin: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 95%;
    height: 28%;
    text-align: center;
    font-size: 30px;
}

a {
    text-decoration: none;
    color: #7657b2;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*Comentários*/
#divcomentarios {
    width: 100%;
}

.sectioncomentarios {
    background-color: #E0CFE6;
    display: flex;
    margin: 10px;
}

.imgdepoimentos {
    width: 70px;
    margin: 10px;
    border: 5px outset #7657b2;
    height: 70px;
}

.nomedepoimentos {
    color: #7657b2;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
}

#estrelaavaliacao {
    width: 2%;
    border: none;
    margin: 5px;
}

#nomeeinsta {
    width: 100%;
}

#divcomentarios {
    align-items: center;
}

#div_bottom {
    margin-bottom: 10px;
}
h2{
    text-align: center;
}


@media screen and (max-device-width: 768px) and (min-device-height: 400px) {
    body {
        font-size: 30px;
        margin: 0;
    }
    #titus{
        width:100% ;
    }

    #container11 {
        flex-direction: column;
        margin: 5%;
    }

    #noticia {
        flex-direction: column;
        margin: 0;

    }

    main {
        flex-direction: column;
        margin: 0;
    }

    #textoprincipal {
        width: 100%;
    }

    aside {
        width: 90%;
        padding: 5%;
        margin-right: 0%;
    }

    .sectioncomentarios {
        background-color: #E0CFE6;
        flex-direction: column;
        border-radius: 15px;
    }

    
    h2 {
        text-align: center;
         margin-top: 5%;
         font-size: 20px;
 margin-bottom: 0;
     }

    h1 {
        flex-direction: column;
        width: 100%;
        text-align: center;
        margin-left: 0%;
    }

    h3 {
        font-size: 20px;
        text-align: center;
    }

    #articleprincipal {
        flex-direction: column;
    }

    #fotoprincipal {
        width: 100%;
        margin: auto;
    }

    #escritatitulo {
        font-size: 35px;
       margin-top: 5%;
        margin-left: 12%;
        margin-bottom: -10px;
    }

    aside {
        height: 100%;
        width: 80%;
        margin-right: 0%;
        margin-left: 5%;
    }

    h6 {
        margin-left: 5%;
    }

    #container {
        width: 100%;
    }

    .fotonoticias {
        margin-top: 15%;
        width: 100%;

    }
    #estrelaavaliacao {
        width: 7%;
        border: none;
        margin: 5px;
    }

   
    

    #container11 {
        width: 100%;
    }

    #divcomentarios {
        margin-top: 15%;
        margin-bottom: 5%;
    }

    #noticia {
        margin-left: 2%;
        margin-top: 5%;
    }

    #divv {
        width: 100%;
    }

    

  #footer{
    margin-bottom: -5px;
}







#noticia{
    font-size: 20px;
}

#divcomentarios{
    font-size: 20px;
}
aside{
    display: none;
}
#articleprincipal{
    text-align: justify;
}
#textoprincipal{
    font-size: 20px;
}


}