body {
    background-color: #e0cfe6;
    margin: 0;
    padding: 0;
}

#img {
    width: 150px;
    height: 150px;
    border-radius: 52%;
    margin: 50px;
}

.center {
    text-align: center;
    margin: 10px;
}

h1 {
    text-align: center;
    color: #7657b2;
}

iframe {
    width: 100%;
    margin: 0%;
    padding: 0%;
}

#footer {
    width: 100%;
    bottom: 0;
    margin-bottom: -5px;
}

a {
    text-decoration: none;

}

a:hover {
    background-color: #7657b2;
    color: #e0cfe6;
    border-radius: 3px;
}
@media screen and (max-device-width: 768px) and (min-device-height: 400px) {


    #footer {
        width: 100%;
        bottom: 0;
    }

    .btn {
        border-radius: 10px;
        background: #7657b2;
        color: white;
        border-style: outset;
        border-color: #7657b2;
        height: 50px;
        width: 100px;
        font: bold15px arial, sans-serif;
        text-shadow: none;
        font-size: 30px;
    }
}