body {
    background-color: #e0cfe6;
    margin: 0;
    padding: 0;
}

#img {
    width: 150px;
    height: 150px;
    border-radius: 52%;
    margin: 50px;
}

.center {
    text-align: center;
    margin: 10px;
}

h1 {
    text-align: center;
    color: #7657b2;
}

iframe {
    width: 100%;
    margin: 0%;
    padding: 0%;
}

#footer {
    margin-bottom: -5px;
}

a {
    text-decoration: none;

}

a:hover {
    background-color: #7657b2;
    color: #e0cfe6;
    border-radius: 3px;
}

@media(max-width:768px) {
    #ifr {
        height: 500px;
    }

    #footer {
        height: 300px;
    }
    .btn{
        border: solid;
        border-color: #ffffff;
        border-radius: 5px;
        font-size: 30px;
        background-color: #ffffff;
    }
}