<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="footer.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <!--Footer-->
    <footer>
        <article>
            <!--Logo + Direitos Reservados-->
            <section>
                <div>
                    <a target="_blank" href="https://linktr.ee/stefannyrodrioliv?utm_source=linktree_profile_share&ltsid=a03e74e9-4ecf-4d60-8090-1783f35a57c5">
                        <img src="../assets/images/logowhite.png.png" alt="Logo da Equipe">
                    </a>
                    <p  id="escrita">Todos os Direitos Reservados © 2023</p>
                </div>
            </section>
            <!--nav-->
            <section id="section1">
                <div class="divi">
                    <a target="_parent" href="../index.html">
                        <h1>Ínicio</h1>
                    </a>
                    <a target="_parent" href="../pages/categorias.html">
                        <p>Categorias</p>
                    </a>
                </div>
                <h1 id="i">|</h1>
                <div class="dive">
                    <a target="_parent" href="../pages/sobrenos.html">
                        <h1>Equipe</h1>
                    </a>
                    <a target="_parent" href="../pages/inicioextra.html">
                        <p>Hefester</p>
                    </a>
                </div>
                <h1 id="i">|</h1>
                <div class="divf">
                    <a target="_parent" href="../pages/feedback.html">
                        <h1>Feedback</h1>
                    </a>
                    <a target="_parent" href="../pages/formulario.html">
                        <p>Contato</p>
                    </a>
                    </div>
                </div>
            </section>
        </article>
    </footer>
</body>

</html>