/*Configurações Gerais*/
body {
    margin: 0%;
    padding: 0%;
}
article {
    text-align: left;
    display: flex;
}
a {
    text-decoration: none;
}

/*Configurações Footer*/
footer {
    background-color: #7657b2;
    text-align: center;
    position: fixed;
    bottom: 0%;
    width: 100%;
}
section {
    display: flex;
}

/*Configurações Logo + Direitos*/
img {
    width: 10%;
    margin: 5px;
}
#escrita {
    text-align: left;
    margin: 10px;
}

/*Configurações nav*/
h1 {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 20px;
}
p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
@media (max-width:768px) {
    img{
        width: 150px;
        height: 150px;
    }
    div{
        text-align: center;
    }
    body{
        width: 100%;
        font-size: 25px;
    }
    article{
        width: 100%;
        align-items: center;
        flex-direction: column;
        display: flex;

    }
    #section1{
        font-size: 15px;
        align-items: center;
    }
    #escrita{
        font-size: 13px;
    }
}
@media (max-width:320px) {
    #section1{
        font-size: 10px;
        align-items: center;
    }
    #escrita{
        font-size: 12px;
    }
    img{
        width: 125px;
        height: 125px;
    }
}
@media (max-width:280px) {
    #section1{
        font-size: 8px;
        align-items: center;
    }
    #escrita{
        font-size: 10px;
    }
    img{
        width: 100px;
        height: 100px;
    }
}
